<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="lblTitulo">
      Lista de Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar id="txtBuscar" placeholder="Buscar" (ionChange)="filtrarServicos($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-list id="lstServicos">
    <div *ngFor="let servico of servicos">
      <ion-item class="itmServico" *ngIf="servico.active">
        {{servico.name}}
      </ion-item>
    </div>
  </ion-list>
</ion-content>
