<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Guia de Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/bn_setrand.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle id="lblSubTitulo">Guia de Serviços</ion-card-subtitle>
        <ion-card-title>Seja bem vindo!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Quadro geral dos serviços prestados pelo Governo de Alagoas</p>
      </ion-card-content>
    </ion-card>
</ion-content>
